<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.message.tasha">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".MessageApplicatio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">



        <activity
            android:name=".activity.StartUpActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.SearchMsgActivity" />
        </activity>

        <activity android:name=".activity.MessageActivity"
            android:parentActivityName=".activity.StartUpActivity" />

        <activity android:name=".activity.SearchMsgActivity"
            android:parentActivityName=".activity.StartUpActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" >
            </meta-data>
        </activity>
<!--

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api" />
-->
      <!--  <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIwND7xhuCtFqXE4O4-j5Aj8imTcopWftCiypeVQ" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".service.MessageStatusReciever">
            <intent-filter android:priority="2147483647">
                <action android:name="tasha.SMS_SENT"/>
                <action android:name="tasha.SMS_DELIVERED"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>